In [2]:
#Setting vars:
if not 'resource_read_file' in locals():
    resource_read_file = "simple.csv"
if not 'resource_write_file' in locals():
    resource_write_file = "simple_update.csv"
if not 'resource_dir' in locals():
    resource_dir = "Sample"
#
#base_io_path = f"abfss://{container_name}@{storage_account}.dfs.core.windows.net"
##
base_io_path = f"../resources/{resource_dir}"
print(f"Base Path: {base_io_path}")

Base Path: ../resources/Sample

In [4]:
import pandas as pd
import numpy as np
from datetime import datetime, date, time, timedelta

In [5]:
read_path = f"{base_io_path}/{resource_read_file}"
print(f"Read from: {read_path}")
raw_df = pd.read_csv(read_path, sep=',', encoding='latin-1')

Read from: ../resources/Sample/simple.csv

In [6]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2 non-null      int64
 1   Name        2 non-null      object
 2   Age         2 non-null      int64
dtypes: int64(2), object(1)
memory usage: 180.0+ bytes

In [7]:
today = date.today()
data = {'Name':['Alice', 'Sophia', 'Júlia']
            , 'Age':[28, 24, 20]
            , 'Date':[today - timedelta(days=300), today - timedelta(days=600), today - timedelta(days=900)]}
df_data = pd.DataFrame(data)
df_data.head()

     Name  Age        Date
0   Alice   28  2023-07-24
1  Sophia   24  2022-09-27
2   Júlia   20  2021-12-01

In [8]:
write_path = f"{base_io_path}/{resource_write_file}"
df_data.to_csv(write_path, sep=',', encoding='latin-1', index=False)
print(f"Write at: {write_path}")

Write at: ../resources/Sample/simple_update.csv